/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  position: relative; 
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #222223;
}


main{
  padding-top: 0;
}



.l-header{
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 1000;
}



.l-header__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(255,255,255,0.6);
  z-index: 1;
}




.l-header__inner{
  position: relative;
  z-index: 2;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* 로고 박스 */
.l-header__logo{
  pointer-events: auto; 
}

.l-header__logo a{
  display: inline-block;
  background: #fff;
  padding: 14px 16px;
  border-radius: 2px;
  box-shadow: 0 4px 14px rgba(0,0,0,.25);
}

/* 로고 이미지 크기 */
.l-header__logo img{
  height: 90px;   
  width: auto;
  display: block;
}



.l-header__navList{
  list-style: none;     /* • 제거 */
  padding: 0;           /* 왼쪽 들여쓰기 제거 */
  margin: 0;            /* 위아래 기본 여백 제거 */
  display: flex;        /* li들을 가로로 */
  gap: 16px;            /* 메뉴 사이 간격 */
  align-items: center;
}



footer {
  color: white;
  height: 60px;
  background-color: #000;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
}